<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>835239778878-hg0noq744gab8bg250eo6r7tppvv0ig6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835239778878-hg0noq744gab8bg250eo6r7tppvv0ig6</string>
	<key>API_KEY</key>
	<string>AIzaSyBpj7hReijD5cU4sVNawVI-aga9fJqA75E</string>
	<key>GCM_SENDER_ID</key>
	<string>835239778878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mxicoders.BANGOU-GAME</string>
	<key>PROJECT_ID</key>
	<string>bangou-cd5ab</string>
	<key>STORAGE_BUCKET</key>
	<string>bangou-cd5ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:835239778878:ios:0ad55d59c77c8bae</string>
	<key>DATABASE_URL</key>
	<string>https://bangou-cd5ab.firebaseio.com</string>
</dict>
</plist>
